*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img{
  max-width: 20rem;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
}

