*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img{
  max-width: 20rem;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
}



@media(max-width: 900px){
  img{
    max-width: 70vw;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
}

